<h1>ref.bib</h1><a name="JabRef2020"></a><pre>
@software{<a href="ref.html#JabRef2020">JabRef2020</a>,
  author = {{JabRef Development Team}},
  title = {JabRef --- An open-source, cross-platform citation and reference management software},
  url = {https://www.jabref.org/},
  version = {5.1},
  keywords = {skimmed},
  readstatus = {skimmed},
  year = {2020}
}
</pre>

<pre>
@comment{{jabref-meta: databaseType:biblatex;}}
</pre>

<pre>
@comment{{jabref-meta: grouping:
0 AllEntriesGroup:;
1 StaticGroup:Markings\;2\;1\;\;\;\;;
2 StaticGroup:mwhipple:6\;2\;1\;\;\;\;;
1 AutomaticKeywordGroup:Read status\;0\;readstatus\;,\;>\;1\;0x8a8a8aff\;\;\;;
}}
</pre>

<pre>
@comment{{jabref-meta: saveOrderConfig:specified;citationkey;false;abstract;false;abstract;false;}}
</pre>

